<% content_for(:title) { "Formhub dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="submissions" data-view="Graph" data-title="Submissions" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>
