<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="response_ok" data-view="Graph" data-title="Submissions" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>
